package ~PACKAGE

import ~ROOT_PACKAGE.R

class ~CLASSActivity : BaseActivity<~CLASSPresenter>(), ~CLASSView {

    override fun presenter(): ~CLASSPresenter = ~CLASSPresenter(this)
    override fun contentView(): Int = R.layout.~LAYOUT

    override fun onCreated() {

    }

}